.sun {
  top: 0;
  left: 10%;
  width: 100px;
}

.cloud1 {
  top: 10%;
  right: 10%;
  width: 90px;
}

.cloud2 {
  bottom: 20%;
  left: 0;
  width: 110px;
}

.bolt {
  top: 20%;
  left: 70%;
  width: 85px;
}

.drop {
  bottom: 10%;
  right: 15%;
  width: 80px;
}

.snow {
  top: 5%;
  right: 40%;
  width: 90px;
}
